<h1>{{ title }}</h1>

<section class="text-center" *ngIf="selectedPokemon">
  <h2>{{ selectedPokemon.name }}</h2>
  <img [src]="selectedPokemon.sprites.front_default" />
  <button class="w-100" (click)="unselectPokemon()">Close Detail</button>
</section>

<section>
  <button (click)="getPrevPage()">&lt; Prev</button>
  <button (click)="getNextPage()">Next &gt;</button>
  <div class="row" *ngFor="let pokemon of pokemons">
    <div class="col col-3">
      <h2>{{ pokemon.name }}</h2>
    </div>
    <div class="col col-2">
      <button class="btn btn-primary btn-sm" (click)="showPokemon(pokemon.url)">Ver Pokemon</button>
    </div>
  </div>
</section>